 
.welllheader { 
    
    color: white;
    height: 20px;
 
}

.navbarheader {
  text-align: center;
}
 
.buttonheader { 
 
    padding: 8px;
    margin-top: 10px;
 
 
}

.inputheader { 
 
    margin-top: 5px;
 
 
}